{% extends 'ft_retriver/base.html' %}
{% load staticfiles %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><span>&#128077;</span> {{status}}</h1>
            <!--<p class="lead"><span>&#128079;</span> {{information}}</p>-->
            {% if display_input == 1 %}
            <!--<p class="lead"><span>&#128073;</span> File name: {{file_name}}</p>-->
            <form method="POST" action={{url}}>
                {% csrf_token %}
                <div class="form-group">
                    <label>請輸入你想在 {{file_name}} </b>中搜尋的關鍵字:</label>
                    <input type="hidden" name="file_name" value={{file_name}}>
                    <input type="text" class="form-control" name="keyword">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {%endif%}
        </div>
    </div>
</main>
{% endblock %}