{% extends 'ft_retriver/base2.html'%}
{% load staticfiles %}

{% block content %}

<section class="engine"><a href="https://mobirise.info/m">site design templates</a></section>
<section class="mbr-section content5 cid-rE83tuXctg mbr-parallax-background" id="content5-8">
    <div class="container">
        <div class="media-container-row">
            <div class="media-container-column mbr-white p-5 col-lg-8 col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">TF-IDF</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-4">Please upload pubmed file to use tf-idf to find your
                    keyword</p>
                <form enctype="multipart/form-data" action="../tf_idf/" method="POST">
                    {% csrf_token %}
                    <input type="file" name="myfile"/>
                    <br>
                    <br>
                    <label>請輸入你想搜尋的關鍵字:</label>
                    <input type="text" class="form-control" name="keyword">
                    <br>
                    <label>請選擇ㄋ你想使用的tf-idf 形式:<br></label>
                    <select name="tf_idf_version">
                        　
                        <option value="v1">Original version</option>
                        　
                        <option value="v2">Variant version1 (from wiki recommendation)</option>
                        　
                        <option value="v3">Variant version2 (from wiki recommendation)</option>
                    </select>
                    <button type="submit" class="btn btn-md align-center btn-primary display-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>


{% if status != 'none' %}

<section class="mbr-section article content1 cid-rE83tw0Bwd" id="content2-9">
    <div class="container" style="font-family:Microsoft JhengHei;">
        <div class="align-center"><h4> 以 TF-IDF 在 {{file_name}} 中作關鍵字 {{keyword}} 的搜尋</h4></div>
        <div class="align-center"><p>   </p> </div>
        {% for as in artical_set%}
        <div class="card" style="margin-bottom: 5px;">
            <div class="card-header">
                <a data-toggle="collapse" data-target="#collapse-{{ as.id }}"><h5>
                    <i class="fas fa-chevron-down"></i>
                    <b>[ TF-IDF: {{as.tf_idf_about}} ] {% autoescape off %} {{as.title}} {% endautoescape %}</b>
                </h5>
                </a>
            </div>
            <div id="collapse-{{ as.id }}" class="panel-collapse collapse">
                <div class="card-body">
                    <!--<h5 class="card-title">Special title treatment</h5>-->
                    <p>{% autoescape off %} {{as.content}} {% endautoescape %}</p>
                    <div class="alert alert-danger" role="alert" style="color:black;">
                        <h4 class="alert-heading">TF-IDF score: <span style="color:red;"> {{as.tf_idf}}</span></h4>
                        <hr>
                        <ol style="list-style-type:square;">
                            <li><b>相關文章</b></li>
                            {% for one in as.relative_artical%}
                            <li>{{one}}</li>
                            {%endfor%}
                        </ol>
                    </div>
                    <div class="alert alert-primary" role="alert" style="color:black;">
                        <h4 class="alert-heading">-關於這篇文章的詳細資訊-</h4>
                        <hr>
                        <ol style="list-style-type:lower-roman;">
                            <li>這篇標題中有 <span style="color:red;">{{as.keyword_title_hit}} </span>個關鍵字</li>
                            <li>這篇摘要中有 <span style="color:red;">{{as.keyword_content_hit}} </span>個關鍵字</li>
                            <li>這篇摘要有 <span style="color:red;">{{as.character_content}}</span> 個字元</li>
                            <li>這篇摘要有 <span style="color:red;">{{as.word_content}}</span> 個詞</li>
                            <li>這篇摘要有 <span style="color:red;">{{as.sentence_content}} </span>個句子</li>
                        </ol>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
{% endif %}
{% endblock %}