{% extends 'ft_retriver/base.html' %}
{% load staticfiles %}

{% block content %}
<main role="main" class="container">
    <div class="card" style="margin-bottom: 10px;">
        <div class="card-header">
            Upload file to parse
        </div>
        <div class="card-body">
            <h5 class="card-title">Select your Twitter json file</h5>
            <div class="custom-file">
                <form enctype="multipart/form-data" method="POST">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="zn" name="upload_file">
                    <label class="custom-file-label" for="customFileLang">選擇文件</label>
                </form>
            </div>
        </div>
    </div>
    <div class="align-middle">
        <a href="#" class="btn btn-primary btn-lg btn-block">Start parse the twitter json file</a>
    </div>
</main>
{% endblock %}